$primary: #3c948b;
$primary-variant: #03dac6;
$primary-variant-2: #bb86fc;
$secondary: #0000cd;
$secondary-variant: #3c948b;
$background: #fff;
$primary-background: #3f3f3f;
$surface: #fff;
$error: #b00020;
$on-primary: #fff;
$on-secondary: #000;
$on-background: #000;
$on-surface: #000;
$on-error: #000;
$text: #111;
